.input__box {
  display: flex;
  flex-direction: column;
  row-gap: 5px;

  .input {
    padding: 5px 10px;
    font-size: 18px;
    border: 1px solid var(--blackColor);
    border-radius: 6px;
  }

  .error {
    color: #f13d3d;
    font-size: 12px;
  }
}
