.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  .filters {
    display: flex;
    align-items: center;
    column-gap: 15px;

    select {
      font-size: 16px;
      background-color: #e8e8e8;
      border-radius: 6px;
      padding: 2px 5px;
    }
  }

  .button {
    margin-left: auto;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
